@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Exo2-Regular", "Exo2-Bold", "Montserrat-Regular","Montserrat-Bold", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face{
  font-family: "Exo2-Regular";
  src: url("/src/fonts/Exo2-Regular.ttf") format("truetype");
}
@font-face{
  font-family: "Exo2-Bold";
  src: url("/src/fonts/Exo2-Bold.ttf") format("truetype");
}
@font-face{
  font-family: "Montserrat-Regular";
  src: url("/src/fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face{
  font-family: "Montserrat-Bold";
  src: url("/src/fonts/Montserrat-Bold.ttf") format("truetype");
}